/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
/* Sections style */
.form {
  display: flex;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  margin-top: 44px;
  max-width: 371px;
}
.form-label {
  display: block;
}
.form-input {
  width: 100%;
  outline: transparent;
  border: 1px solid #808080;
border-radius: 4px;
width: 272px;
padding: 8px 16px;
background-color: transparent;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #808080;
}
.form-input::placeholder {
  color: #808080;
}
.form-btn {
  cursor: pointer;
  display: block;
  border: none;
  border-radius: 8px;
padding: 8px 16px;
background-color: #4e75ff;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
}
.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
  border: 1px solid #808080;
}
.gallery-link {
  width: 100%;
}
.gallery-descr {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 28px;
padding: 4px 20px;
}
.gallery-descr-item {
  flex-basis: calc((100% - 84px) / 4);
}
.gallery-descr-title {
  font-weight: 600;
font-size: 12px; 
line-height: 1.33333;
letter-spacing: 0.04em;
color: #2e2f42;
text-align: center;
}
.gallery-descr-value {
  font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
color: #2e2f42;
}
